@font-face {
    font-family: "barlow-semibold";
    src: url("../fonts/Barlow-SemiBold.ttf");
}

@font-face {
    font-family: "fraunces-extrabold";
    src: url("../fonts/Fraunces-ExtraBold.ttf");
}

@font-face {
    font-family: "fraunces-semibold";
    src: url("../fonts/Fraunces-SemiBold.ttf");
}

:root {

    --clr-primary-300: hsl(7, 99%, 70%);
    --clr-primary-400: hsl(51, 100%, 49%);
    --clr-primary-500: hsl(168, 34%, 41%);
    --clr-primary-600: hsl(167, 40%, 24%);
    --clr-primary-700: hsl(198, 62%, 26%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(210, 4%, 67%);
    --clr-neutral-300: hsl(232, 10%, 55%);
    --clr-neutral-400: hsl(213, 9%, 39%);
    --clr-neutral-500: hsl(212, 27%, 19%);

    --ff-primary: "barlow-semibold";
    --ff-secondary: "fraunces-extrabold";
    --ff-accent: "fraunces-semibold";

    --fs-100: 0.85rem;
    --fs-200: 1rem;
    --fs-250: 1.25rem;
    --fs-300: 1.5rem;
    --fs-400: 1.75rem;
    --fs-500: 2rem;
    --fs-600: 2.5rem;
    --fs-700: 2.75rem;
    --fs-800: 3rem;
    --fs-900: 3.5rem;
    --fs-950: 4rem;

}

/*-----------------utility-classes------------------*/

.clr-primary-300 { color: var(--clr-primary-300);}
.clr-primary-400 { color: var(--clr-primary-400);}
.bg-clr-primary-500 { background-color: var(--clr-primary-500);}
.clr-primary-600 { color: var(--clr-primary-600);}
.clr-primary-700 { color: var(--clr-primary-700);}


.clr-neutral-100 { color: var(--clr-neutral-100);}
.clr-neutral-200 { color: var(--clr-neutral-200);}
.clr-neutral-300 { color: var(--clr-neutral-300);}
.clr-neutral-400 { color: var(--clr-neutral-400);}
.clr-neutral-500 { color: var(--clr-neutral-500);}

.ff-primary { font-family: var(--ff-primary);}
.ff-secondary { font-family: var(--ff-secondary);}
.ff-accent { font-family: var(--ff-accent);}

.fs-main-heading { font-size: var(--fs-500);}
.fs-primary-headings { font-size: var(--fs-400);}
.fs-secondary-headings { font-size: var(--fs-300);}
.fs-accent { font-size: var(--fs-250);}
.fs-200 { font-size: var(--fs-200);}
.fs-100 { font-size: var(--fs-100);}

@media (min-width: 455px) {
    .fs-main-heading { font-size: var(--fs-700);}
    .fs-primary-headings { font-size: var(--fs-600);}
    .fs-secondary-headings { font-size: var(--fs-600);}
}

@media (min-width: 600px) and (max-width: 799px) {
    .fs-main-heading { font-size: var(--fs-950);}
    .fs-primary-headings { font-size: var(--fs-700);}
    .fs-secondary-headings { font-size: var(--fs-700);}
}

@media (min-width: 800px) and (max-width: 1000px) {
    .fs-main-heading { font-size: var(--fs-600);}
    .fs-primary-headings { font-size: var(--fs-500);}
    .fs-secondary-headings { font-size: var(--fs-400);}
}

@media (min-width: 1000px) {
    .fs-main-heading { font-size: var(--fs-900);}
    .fs-primary-headings { font-size: var(--fs-700);}
    .fs-secondary-headings { font-size: var(--fs-500);}
}


.section-padding { padding: 3em .5em;}

@media (min-width: 450px) {
    .section-padding { padding: 6em 1em;}
}

@media (min-width: 600px) and (max-width: 800px) {
    .section-padding { padding: 8em 1em;}
}

@media (min-width: 800px) {
    .section-padding { padding: 3em 2em;}
}


/*---------------------reset-----------------------*/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
li {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    min-height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*---------------layout----------------*/

body {
    font-size: 18px;
}

:focus {
    outline: 0;
}

.visually-hidden {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

.text-position {
    text-align: center;
}

@media (min-width: 50em) {
    .text-position {
        text-align: start;
    }
}

picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 50em) {
    .d-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


/*-------------main-section-----------------*/


.main-section {
    position: relative;
}

.main-text {
    position: absolute;
    top: 0;
    text-align: center;
    padding-top: 2em;
    width: 100%;
} 

.main-text >* {
    width: 90%;
    margin-inline: auto;
}

.main-navigation-list {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5em;
    position: relative;
}

@media (min-width: 500px) {
    .main-navigation-list {
        margin-bottom: 7em;
    }
}

@media (min-width: 800px) {
    .main-navigation-list {
        margin-bottom: 4.5em;
    }
}

@media (min-width: 1000px) {
    .main-navigation-list {
        margin-bottom: 7em;
    }
}

.logo {
    width: 12rem;
    position: relative;
    z-index: 2;
}

@media (max-width: 500px) {
    .logo {
        width: 8rem;
    }
}

#arrow-icon {
    position: relative;
    animation: pointer 2s infinite;
}


@keyframes pointer {
    0% { top: 0;}
    25% { top: 20px;}
    50% { top: 0;}
    75% { top: 10px;}
    100% { top: 0;}
}

.icon-display {
    display: none;
}

@media (min-width: 50em) {
    .icon-display {
        display: block;
    }
}

.home {
    position: relative;
}

.home::before,
.home::after {
    content: "";
    position: absolute;
    width: 110%;
    height: 0;
    bottom: -5%;
    left: -5%;
    right: -5%;
    z-index: 1;
    transition: height 200ms ease-in-out;
}

.home::before {
    background-color: var(--clr-primary-300);
    transform: rotate(10deg);
}

.home::after {
    background-color: var(--clr-primary-400);
    transform: rotate(-10deg);
}

.home:hover::before,
.home:hover::after {
    height: 30%;
}

.home:focus-within::before,
.home:focus-within::after {
    height: 30%;
}

#nav-items {
    background-color: var(--clr-neutral-100);
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    padding: 2.5em 1em 1.5em 1em;
    text-align: center;
    width: 100%;
    z-index: 99;
}

#nav-items >* {
    margin-bottom: 2rem;
}

#nav-items a {
    color: var(--clr-neutral-400);
}

#nav-items::before {
    content: "";
    background-image: url('images/triangle.png');
    background-position: right;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 99%;
    right: 0;
    width: 2rem;
    height: 2rem;
}

.display {
    display: none;
}

@media (min-width: 50em) {
    #nav-items::before {
        display: none;
    }
}

.button {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-500) !important;
    padding: .75em 1.25em;
    border-radius: 2rem;
}

.nav-links:focus {
    border-bottom: 3px solid black;
}

.button:focus {
    border: 2px solid black;
    background-color: transparent;
}

@media (min-width: 800px) {
    #nav-items {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 2.5rem;
        background-color: transparent;
        position: relative;
        padding: 0;
    }

    #nav-items >* {
        margin: 0;
    }

    #nav-items a {
        color: var(--clr-neutral-100);
    } 

    .nav-links:hover,
    .nav-links:focus {
        border-bottom: 4px solid var(--clr-neutral-100);
    }

    .button {
        background-color: var(--clr-neutral-100);
        color: var(--clr-primary-700) !important;
        padding: .75em 1.5em;
        border-radius: 2rem;
    }
    
    .button:hover,
    .button:focus {
        color: var(--clr-neutral-100) !important;
        background-color: hsl(0, 0%, 100%, .25);
    } 
}

.introductory-section h1 {
    --max-width: 20rem;
    --padding: 1rem;

    width: clamp (var(--max-width), calc(100% - var(--padding)*2), 100%);
    letter-spacing: 4px;
    margin-inline: auto;
}

.introductory-section img {
    margin-top: 1em;
    margin-inline: auto;
}

@media (min-width: 450px) {
    .introductory-section img {
        margin-top: 3em;
    }
}

@media (min-width: 1000px) {
    .introductory-section {
        margin-top: 5em;
    }
}


#menu-button {
    cursor: pointer;
    border: none;
    background: transparent;
    padding: .5rem;
}

#menu-button:focus {
    border: 2px solid var(--clr-neutral-100);
}

@media (min-width: 800px) {
    #menu-button {
        display: none;
    }
}

.hamburger {
    pointer-events: none;
}

/*-------------------first/second-section------------------*/

.first-section picture{
    order: 2;
}

.section-text {
    margin: auto;
}

.text-container {
    --max-width: 18rem;
    --padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: min(var(--max-width),calc(100% - var(--padding)*2));
    margin-inline: auto;
}

@media (min-width: 450px) {
    .text-container {
        --max-width: 25rem;
        gap: 1.5rem;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    .text-container {
        gap: 2.5rem;
        line-height: 2;
    }
}

@media (min-width: 801px) {
    .text-container {
        gap: 1rem;
    }
}

.underline {
    position: relative;
    width: fit-content;
}

@media (max-width: 50em) {
    .underline {
        margin-inline: auto;
    }
}

.yellow-underline::after,
.pink-underline::after {
    content: "";
    position: absolute;
    width: 110%;
    height: 30%;
    bottom: 5%;
    left: -5%;
    right: -5%;
    border-radius: 1rem;
    z-index: -1;
    opacity: .5;
    transition: 
    opacity 100ms ease-in-out,
    height 100ms ease-in-out;
}

.yellow-underline::after {
    background-color: var(--clr-primary-400);
}

.pink-underline::after {
    background-color: var(--clr-primary-300);
}

.yellow-underline:hover::after,
.pink-underline:hover::after {
    opacity: 1;
    height: 50%;
}

.yellow-underline:focus::after {
    opacity: 1;
    height: 50%;
    box-shadow:
    0 0 0 8px var(--clr-neutral-100),
    0 0 0 16px var(--clr-primary-400);
}

.pink-underline:focus::after {
    opacity: 1;
    height: 50%;
    box-shadow:
    0 0 0 8px var(--clr-neutral-100),
    0 0 0 16px var(--clr-primary-300);
}

/*-----------------third-section----------------*/

.third-section {
    text-align: center;
}

.third-section p {
    max-width: 20rem;
    margin-inline: auto;
}

@media (min-width: 1000px) {
    .third-section p {
        max-width: 24rem;
        margin-inline: auto;
    }
}

.graphic-design-section,
.photography-section {
    position: relative;
}

.text-wrapper {
    width: 90%;
    margin-inline: auto;
    display: grid;
    gap: 1.5rem;
}

@media (max-width: 400px) {
    .text-wrapper {
        gap: .5rem;
    }  
}

@media (min-width: 600px) and (max-width: 800px) {
    .text-wrapper {
        font-size: var(--fs-300);
    }  
}

@media (min-width: 800px) {
    .text-wrapper {
        font-size: inherit;
    }  
}

.graphic-design-text,
.photography-text {
    position: absolute;
    top: 60%;
    width: 100%;
}

@media (max-width: 300px) {
    .graphic-design-text,
    .photography-text {
        top: 55%;
}
}

@media (min-width: 800px) and (max-width: 1000px) {
    .third-section picture img{
        min-height: 420px;
    }

    .graphic-design-text,
    .photography-text {
        top: 58%;
    }

    .text-wrapper {
        gap: .5rem;
    }
}

/*---------------------reviews-section------------------------*/

.reviews-section >*,
.review >* {
    margin-inline: auto;
    text-align: center;
}

.reviews-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 7em 0em;
}

.reviews-section h2 {
    letter-spacing: 0.4rem;
    width: 90%;
}

.review {
    display: grid;
    gap: 2.5rem;
    max-width: 20rem;
    margin-inline: auto;
}

@media (min-width: 50em) {
    .review {
        grid-template-rows: 1fr 2fr 1fr;
        max-width: 22rem;
    }
}

.review img  {
    width: 4rem;
    border-radius: 50%;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0em 1em;
}


@media (min-width: 50em) {
    .reviews {
        flex-direction: row;
        gap: 2rem;
        width: 80%;
        margin-inline: auto;
        padding: 0;
    }
}


/*----------------gallery-section---------------*/

.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.image-gallery img {
    width: 100%;
}

@media (min-width: 50em) {
    .image-gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}


/*---------------------footer------------------------*/

footer {
    --bg-clr-footer: hsla(168, 86%, 39%, 0.521);
    --clr-footer: hsl(168, 34%, 33%);

    background-color: var(--bg-clr-footer);
    color: var(--clr-footer);
}

.footer-container {
    --max-width: 600px;
    --padding: 1rem;

    width: min(var(--max-width),calc(100% - var(--padding)*2));
    margin-inline: auto;
    padding: 4em 0;
}

footer h2 {
    margin-bottom: 1.5em;
    text-align: center;
}

footer nav {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

footer nav >* {
    margin-inline: auto;
}

.more-navigation,
.socials-navigation {
    display: flex;
}

.more-navigation {
    gap: 2rem;
}

.socials-navigation {
    gap: 1rem;
}

footer a {
    color: var(--clr-footer);
}

footer a:hover {
    color: var(--clr-neutral-100);
}

footer a:focus {
    box-shadow:
    0 0 0 4px var(--bg-clr-footer),
    0 0 0 8px var(--clr-neutral-100);
}


